// -----------------------------------------------
%bg1 {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg1.jpg {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-logo2-in {
	width: 420px;
	height: 59px;
	background-image: url('../img/bg4-logo2-in.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-logo2-in.png {
	width: 420px;
	height: 59px;
	background-image: url('../img/bg4-logo2-in.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3 {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3.jpg {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg2 {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg2.jpg {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-logo2 {
	width: 572px;
	height: 73px;
	background-image: url('../img/bg4-logo2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-logo2.png {
	width: 572px;
	height: 73px;
	background-image: url('../img/bg4-logo2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4 {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4.jpg {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-logo {
	width: 1161px;
	height: 74px;
	background-image: url('../img/bg5-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg5-logo.png {
	width: 1161px;
	height: 74px;
	background-image: url('../img/bg5-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6-logo {
	width: 1085px;
	height: 74px;
	background-image: url('../img/bg6-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg6-logo.png {
	width: 1085px;
	height: 74px;
	background-image: url('../img/bg6-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5 {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg5.jpg {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%circle1 {
	width: 303px;
	height: 304px;
	background-image: url('../img/circle1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%circle1.png {
	width: 303px;
	height: 304px;
	background-image: url('../img/circle1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6 {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg6.jpg {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%circle2 {
	width: 303px;
	height: 304px;
	background-image: url('../img/circle2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%circle2.png {
	width: 303px;
	height: 304px;
	background-image: url('../img/circle2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg7 {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg7.jpg {
	width: 1920px;
	height: 1080px;
	background-image: url('../img/bg7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1-line2 {
	width: 215px;
	height: 222px;
	background-image: url('../img/slice/bg1-line2.png');
	background-repeat: no-repeat;
}
%slice-bg1-line2.png {
	width: 215px;
	height: 222px;
	background-image: url('../img/slice/bg1-line2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%back {
	width: 78px;
	height: 35px;
	background-image: url('../img/slice/back.png');
	background-repeat: no-repeat;
}
%slice-back.png {
	width: 78px;
	height: 35px;
	background-image: url('../img/slice/back.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1-line1 {
	width: 215px;
	height: 222px;
	background-image: url('../img/slice/bg1-line1.png');
	background-repeat: no-repeat;
}
%slice-bg1-line1.png {
	width: 215px;
	height: 222px;
	background-image: url('../img/slice/bg1-line1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%qaimg {
	width: 482px;
	height: 437px;
	background-image: url('../img/qaimg.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%qaimg.png {
	width: 482px;
	height: 437px;
	background-image: url('../img/qaimg.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg2-logo {
	width: 483px;
	height: 83px;
	background-image: url('../img/slice/bg2-logo.png');
	background-repeat: no-repeat;
}
%slice-bg2-logo.png {
	width: 483px;
	height: 83px;
	background-image: url('../img/slice/bg2-logo.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-logo {
	width: 635px;
	height: 73px;
	background-image: url('../img/slice/bg3-logo.png');
	background-repeat: no-repeat;
}
%slice-bg3-logo.png {
	width: 635px;
	height: 73px;
	background-image: url('../img/slice/bg3-logo.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1-name {
	width: 62px;
	height: 79px;
	background-image: url('../img/slice/bg1-name.png');
	background-repeat: no-repeat;
}
%slice-bg1-name.png {
	width: 62px;
	height: 79px;
	background-image: url('../img/slice/bg1-name.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1-logo {
	width: 482px;
	height: 65px;
	background-image: url('../img/slice/bg1-logo.png');
	background-repeat: no-repeat;
}
%slice-bg1-logo.png {
	width: 482px;
	height: 65px;
	background-image: url('../img/slice/bg1-logo.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-btn1_hover {
	width: 394px;
	height: 233px;
	background-image: url('../img/slice/bg5-btn1_hover.png');
	background-repeat: no-repeat;
}
%slice-bg5-btn1_hover.png {
	width: 394px;
	height: 233px;
	background-image: url('../img/slice/bg5-btn1_hover.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-logo2 {
	width: 878px;
	height: 74px;
	background-image: url('../img/slice/bg3-logo2.png');
	background-repeat: no-repeat;
}
%slice-bg3-logo2.png {
	width: 878px;
	height: 74px;
	background-image: url('../img/slice/bg3-logo2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-logo1 {
	width: 323px;
	height: 59px;
	background-image: url('../img/slice/bg4-logo1.png');
	background-repeat: no-repeat;
}
%slice-bg4-logo1.png {
	width: 323px;
	height: 59px;
	background-image: url('../img/slice/bg4-logo1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-btn1 {
	width: 199px;
	height: 51px;
	background-image: url('../img/slice/bg5-btn1.png');
	background-repeat: no-repeat;
}
%slice-bg5-btn1.png {
	width: 199px;
	height: 51px;
	background-image: url('../img/slice/bg5-btn1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-btn2_hover {
	width: 238px;
	height: 220px;
	background-image: url('../img/slice/bg5-btn2_hover.png');
	background-repeat: no-repeat;
}
%slice-bg5-btn2_hover.png {
	width: 238px;
	height: 220px;
	background-image: url('../img/slice/bg5-btn2_hover.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-btn3_hover {
	width: 486px;
	height: 225px;
	background-image: url('../img/slice/bg5-btn3_hover.png');
	background-repeat: no-repeat;
}
%slice-bg5-btn3_hover.png {
	width: 486px;
	height: 225px;
	background-image: url('../img/slice/bg5-btn3_hover.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6-line2 {
	width: 121px;
	height: 76px;
	background-image: url('../img/slice/bg6-line2.png');
	background-repeat: no-repeat;
}
%slice-bg6-line2.png {
	width: 121px;
	height: 76px;
	background-image: url('../img/slice/bg6-line2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-btn3 {
	width: 199px;
	height: 51px;
	background-image: url('../img/slice/bg5-btn3.png');
	background-repeat: no-repeat;
}
%slice-bg5-btn3.png {
	width: 199px;
	height: 51px;
	background-image: url('../img/slice/bg5-btn3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-btn2 {
	width: 199px;
	height: 51px;
	background-image: url('../img/slice/bg5-btn2.png');
	background-repeat: no-repeat;
}
%slice-bg5-btn2.png {
	width: 199px;
	height: 51px;
	background-image: url('../img/slice/bg5-btn2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6-icon {
	width: 129px;
	height: 93px;
	background-image: url('../img/slice/bg6-icon.png');
	background-repeat: no-repeat;
}
%slice-bg6-icon.png {
	width: 129px;
	height: 93px;
	background-image: url('../img/slice/bg6-icon.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6-line1 {
	width: 52px;
	height: 93px;
	background-image: url('../img/slice/bg6-line1.png');
	background-repeat: no-repeat;
}
%slice-bg6-line1.png {
	width: 52px;
	height: 93px;
	background-image: url('../img/slice/bg6-line1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6-line5 {
	width: 507px;
	height: 369px;
	background-image: url('../img/slice/bg6-line5.png');
	background-repeat: no-repeat;
}
%slice-bg6-line5.png {
	width: 507px;
	height: 369px;
	background-image: url('../img/slice/bg6-line5.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6-line3 {
	width: 124px;
	height: 76px;
	background-image: url('../img/slice/bg6-line3.png');
	background-repeat: no-repeat;
}
%slice-bg6-line3.png {
	width: 124px;
	height: 76px;
	background-image: url('../img/slice/bg6-line3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6-line4 {
	width: 121px;
	height: 84px;
	background-image: url('../img/slice/bg6-line4.png');
	background-repeat: no-repeat;
}
%slice-bg6-line4.png {
	width: 121px;
	height: 84px;
	background-image: url('../img/slice/bg6-line4.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%c3 {
	width: 443px;
	height: 443px;
	background-image: url('../img/slice/c3.png');
	background-repeat: no-repeat;
}
%slice-c3.png {
	width: 443px;
	height: 443px;
	background-image: url('../img/slice/c3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%c1 {
	width: 316px;
	height: 317px;
	background-image: url('../img/slice/c1.png');
	background-repeat: no-repeat;
}
%slice-c1.png {
	width: 316px;
	height: 317px;
	background-image: url('../img/slice/c1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg7-logo {
	width: 747px;
	height: 74px;
	background-image: url('../img/slice/bg7-logo.png');
	background-repeat: no-repeat;
}
%slice-bg7-logo.png {
	width: 747px;
	height: 74px;
	background-image: url('../img/slice/bg7-logo.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%c2 {
	width: 365px;
	height: 362px;
	background-image: url('../img/slice/c2.png');
	background-repeat: no-repeat;
}
%slice-c2.png {
	width: 365px;
	height: 362px;
	background-image: url('../img/slice/c2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%down {
	width: 20px;
	height: 25px;
	background-image: url('../img/slice/down.png');
	background-repeat: no-repeat;
}
%slice-down.png {
	width: 20px;
	height: 25px;
	background-image: url('../img/slice/down.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1-logo {
	width: 484px;
	height: 65px;
	background-image: url('../img/slice/ind/bg1-logo.png');
	background-repeat: no-repeat;
}
%slice-ind-bg1-logo.png {
	width: 484px;
	height: 65px;
	background-image: url('../img/slice/ind/bg1-logo.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-logo2 {
	width: 658px;
	height: 74px;
	background-image: url('../img/slice/ind/bg3-logo2.png');
	background-repeat: no-repeat;
}
%slice-ind-bg3-logo2.png {
	width: 658px;
	height: 74px;
	background-image: url('../img/slice/ind/bg3-logo2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-logo1 {
	width: 328px;
	height: 59px;
	background-image: url('../img/slice/ind/bg4-logo1.png');
	background-repeat: no-repeat;
}
%slice-ind-bg4-logo1.png {
	width: 328px;
	height: 59px;
	background-image: url('../img/slice/ind/bg4-logo1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg7-logo {
	width: 717px;
	height: 58px;
	background-image: url('../img/slice/ind/bg7-logo.png');
	background-repeat: no-repeat;
}
%slice-ind-bg7-logo.png {
	width: 717px;
	height: 58px;
	background-image: url('../img/slice/ind/bg7-logo.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%share {
	width: 87px;
	height: 35px;
	background-image: url('../img/slice/share.png');
	background-repeat: no-repeat;
}
%slice-share.png {
	width: 87px;
	height: 35px;
	background-image: url('../img/slice/share.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%ques {
	width: 80px;
	height: 35px;
	background-image: url('../img/slice/ques.png');
	background-repeat: no-repeat;
}
%slice-ques.png {
	width: 80px;
	height: 35px;
	background-image: url('../img/slice/ques.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%logo {
	width: 268px;
	height: 88px;
	background-image: url('../img/slice/logo.png');
	background-repeat: no-repeat;
}
%slice-logo.png {
	width: 268px;
	height: 88px;
	background-image: url('../img/slice/logo.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%slide {
	width: 88px;
	height: 49px;
	background-image: url('../img/slice/slide.png');
	background-repeat: no-repeat;
}
%slice-slide.png {
	width: 88px;
	height: 49px;
	background-image: url('../img/slice/slide.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%txt-wrap {
	width: 268px;
	height: 30px;
	background-image: url('../img/slice/txt-wrap.png');
	background-repeat: no-repeat;
}
%slice-txt-wrap.png {
	width: 268px;
	height: 30px;
	background-image: url('../img/slice/txt-wrap.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%txt-wrap3 {
	width: 361px;
	height: 49px;
	background-image: url('../img/slice/txt-wrap3.png');
	background-repeat: no-repeat;
}
%slice-txt-wrap3.png {
	width: 361px;
	height: 49px;
	background-image: url('../img/slice/txt-wrap3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%up {
	width: 12px;
	height: 17px;
	background-image: url('../img/slice/up.png');
	background-repeat: no-repeat;
}
%slice-up.png {
	width: 12px;
	height: 17px;
	background-image: url('../img/slice/up.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%txt-wrap2 {
	width: 482px;
	height: 91px;
	background-image: url('../img/slice/txt-wrap2.png');
	background-repeat: no-repeat;
}
%slice-txt-wrap2.png {
	width: 482px;
	height: 91px;
	background-image: url('../img/slice/txt-wrap2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%up2 {
	width: 21px;
	height: 25px;
	background-image: url('../img/slice/up2.png');
	background-repeat: no-repeat;
}
%slice-up2.png {
	width: 21px;
	height: 25px;
	background-image: url('../img/slice/up2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%txt-wrap4 {
	width: 161px;
	height: 69px;
	background-image: url('../img/slice/txt-wrap4.png');
	background-repeat: no-repeat;
}
%slice-txt-wrap4.png {
	width: 161px;
	height: 69px;
	background-image: url('../img/slice/txt-wrap4.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%zan {
	width: 22px;
	height: 21px;
	background-image: url('../img/slice/zan.png');
	background-repeat: no-repeat;
}
%slice-zan.png {
	width: 22px;
	height: 21px;
	background-image: url('../img/slice/zan.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
