
@media only screen and (min-width: 768px) {
  .main{
    width: 760px;
  }
}


@media only screen and (min-width: 1280px) {
  .main{
    width: 1200px;
  }
}

@media only screen and (min-width: 1440px) {
  .main{
    width: 1400px;
  }
}

