
.bg2{
  @extend %loading;
  text-align: center;
  background-size:100% 100%;
}
.bg2-logo{
  @extend %bg2-logo;
  position: absolute;
  left:50%;
  top:2.15rem;
  transform: translate3d(-50%,0,0);
  z-index: 99;
  text-indent:-999em;
}

.bg2{

  .btn{
    display: inline-block!important;
    height: .57rem;
    line-height: 2.5;
    padding:0 .23rem;
    background: #ffc63f;
    color: #000;
    @include font-dpr(22px);
    text-align: center;
    margin: 0 auto;
    z-index: 99;
    position: relative;
    top:85%;
  }
}
#graph{
  width: 100%;
  height: 6.67rem;
  position: absolute;
  top:3.9rem;
}
.bg2-sub-page{

  padding-top:2.09rem;
  @extend %loading;
  h2{
    color: #ffc63f;
    @include font-dpr(23px);
    font-weight: 600;
    text-indent: .28rem;
    text-align: left;
    margin-bottom:.15rem;
  }
  .bg2-c2{
    width: 100%;
    position: relative;
    height: 2.48rem;
    margin-bottom:.25rem;
  }
  .circle1{
    background: #ffc63f;
    width: 1.65rem;
    height: 1.65rem;
    border-radius:100%;
    line-height: 1.65rem;
    text-align: center!important;
    color: #000;
    @include font-dpr(32px);
    position: absolute;
    left:50%;
    margin-left:-.625rem;
    top:.45rem;
    z-index: 99;
    white-space: nowrap;
    @include ellipsis;
  }
  .circle2{
    width: 1.15rem;
    height: 1.15rem;
    border-radius:100%;
    line-height: 1.15rem;
    text-align: center!important;
    color: #ffc63f;
    @include font-dpr(25px);
    position: absolute;
    left:50%;
    margin-left:.95rem;
    top:.68rem;
    z-index: 80;
    border:.02rem solid #ffc63f;
    background: #000;
    @include ellipsis;
  }
  .circle3{
    width: .84rem;
    height: .84rem;
    border-radius:100%;
    line-height: .84rem;
    text-align: center!important;;
    color: #8593aa;
    @include font-dpr(16px);
    position: absolute;
    left:50%;
    margin-left:.65rem;
    top:.1rem;
    z-index: 70;
    border:.02rem solid #4f607a;
    background: #000;
    @include ellipsis;
  }
  .circle4{
    width: .67rem;
    height: .67rem;
    border-radius:100%;
    line-height: 1.2;
    text-align: center!important;;
    box-sizing: border-box;
    padding-top:.1rem;
    color: #8593aa;
    @include font-dpr(12px);
    position: absolute;
    left:50%;
    margin-left:-.85rem;
    top:0;
    z-index: 70;
    border:.02rem solid #1b2432;
    background: #000;
    @include ellipsis;
  }
  .circle5{
    width: 1.18rem;
    height: 1.18rem;
    border-radius:100%;
    line-height: 1.2;
    text-align: center!important;;
    box-sizing: border-box;
    color: #8593aa;
    @include font-dpr(25px);
    position: absolute;
    left:50%;
    margin-left:-1.65rem;
    top:.45rem;
    z-index: 70;
    border:.02rem solid #1b2432;
    background: #000;
    padding-top:.4rem;
    @include ellipsis;
  }
  .circle6{
    width: .68rem;
    height: .68rem;
    border-radius:100%;
    line-height: .68rem;
    text-align: center;
    box-sizing: border-box;
    color: #f0cc01;
    @include font-dpr(12px);
    position: absolute;
    left:50%;
    margin-left:-1.1rem;
    top:1.78rem;
    z-index: 70;
    border:.02rem solid #f0cc01;
    background: #000;
    letter-spacing: -.01rem;
  }
}
.history-wrap{
  height: 8.5rem;
  overflow: hidden;
  overflow-y:scroll;
}