
.bg3{
  @extend %bg3;
  text-align: center;
  background-size:100% 100%;
  blockquote{
    width: 100%;
    color: #8593aa;
    @include font-dpr(16px);
    text-align: center;
    position: absolute;
    top:8.58rem;
  }
}
.bg3-logo{
  @extend %bg3-logo;
  position: absolute;
  left:50%;
  top:2.3rem;
  transform: translate3d(-50%,0,0);
  z-index: 99;
  text-indent:-999em;
}
.echart-line{
  width: 6.35rem;
  height:3.12rem;
  position: absolute;
  left:50%;
  top:4.75rem;
  margin-left:-3.175rem;
}
.bg3-chart-intro{
  width: 5.22rem;
  height: .39rem;
  line-height: .39rem;
  text-align: center;
  color: #fecc1a;
  @include font-dpr(16px);
  background: #000;
  border:.01rem solid #1b2432;
  margin: 0 auto;
  position: relative;
  top:8.08rem;
  i{
    display: inline-block;
    @extend %bg3-up;
    margin:0 .2rem;
  }
}
.ques{
  @extend %ques;
  position: absolute;
  left:.35rem;
  top:.20rem;
}

.bg3-btn{
  display: block;
  position: absolute;
  top:73.8%;
}
.bg3-btn1{
  @extend %bg3-btn1;
  left:21%;
  margin-left:-1rem;
  &.bg3-btn-on{
    @extend %bg3-btn1-hov;
  }
}
.bg3-btn2{
  @extend %bg3-btn2;
  left:50%;
  margin-left:-1rem;
  &.bg3-btn-on{
    @extend %bg3-btn2-hov;
  }
}
.bg3-btn3{
  @extend %bg3-btn3;
  left:79%;
  margin-left:-1rem;
  &.bg3-btn-on{
    left:68%;
    @extend %bg3-btn3-hov;
  }
}
.bg3-sub-page{
  @extend %bg3;
  padding-top:2.14rem;
  h2{
    color: #ffc63f;
    @include font-dpr(35px);
    margin-bottom:.25rem;
    line-height: 1;
  }
  h3{
    color: #5a667a;
    @include font-dpr(19px);
    line-height: 1;
    margin-bottom:.55rem;
  }
}
.bg3-col{
  width: 6.85rem;
  box-sizing: border-box;
  background: rgba(17, 18, 24, 0.65);
  border:.01rem solid rgba(70, 91, 185, 0.33);
  padding: .36rem .28rem;
  margin: 0 auto .3rem;
  text-align: left;
  h4{
    color: #ffc63f;
    @include font-dpr(25px);
    margin-bottom:.10rem;
    line-height: 1;
  }
  p{
    color: #5a667a;
    @include font-dpr(18px);
    line-height: 1.2;
  }
}