
.bg4{
  @extend %bg4;
  text-align: center;
  background-size:100% 100%;
}
.bg4-logo{
  @extend %bg4-logo;
  position: absolute;
  left:50%;
  top:2.24rem;
  transform: translate3d(-50%,0,0);
  z-index: 99;
  text-indent:-999em;
}
.bg4-icon{
  @extend %bg4-icon1;
  position: absolute;
  top:4.33rem;
  left:50%;
  transform:translate3d(-50%,0,0);
}
.bg4-line{
  position: absolute;
  left:50%;
}
.bg4-line1{
  @extend %bg4-line1;
  margin-left: -.5rem;
  top: 5.15rem;
}
.bg4-line2{
  @extend %bg4-line2;
  margin-left: -.575rem;
  top: 6.13rem;
}
.bg4-line3{
  @extend %bg4-line3;
  margin-left: -.545rem;
  top: 6.92rem;
}
.bg4-line4{
  @extend %bg4-line4;
  margin-left: -.545rem;
  top:7.71rem
}
.bg4-line5{
  @extend %bg4-line5;
  margin-left: -3.5rem;
  top:8.6rem
}
.bg4-line6{
  @extend %bg4-line6;
  margin-left: -3.5rem;
  top: 11.12rem;
}
.data-col{
  width: 2.55rem;
  height: .65rem;
  background: #1b2330;
  line-height: .68rem;
  color: #8593aa;
  position: absolute;
  @include font-dpr(20px);
  text-align: center;
  left:50%;
  span{
    display: inline-block;
  }
  .data2{
    margin: 0 .23rem;
  }
  .data-col-title{
    position: absolute;
    top:-.45rem;
    color: #ffc63f;
    @include font-dpr(20px);
    width: 100%;
    text-align: center;
    span{
      display: inline-block;
      margin: 0 .23rem;
    }
  }
  &.data-col-cur{
    background: #ffc63f;
    color: #070a0f;
  }
}
.data-col1{
  margin-left:-1.275rem;
  top:5.8rem;
  left:24%;
}
.data-col2{
  margin-left:-1.275rem;
  top:6.7rem;
  left:77%;
}
.data-col3{
  margin-left:-1.275rem;
  top:7.5rem;
  left:24%;
}
.data-col4{
  margin-left:-1.275rem;
  top:8.4rem;
  left:79%;
}
.bg4-chart-intro{
  width: 5.22rem;
  height: .39rem;
  line-height: .39rem;
  text-align: center;
  color: #fecc1a;
  @include font-dpr(16px);
  background: #000;
  border:.01rem solid #1b2432;
  margin: 0 auto;
  position: relative;
  top:9.65rem;
  i{
    display: inline-block;
    @extend %down;
    margin:0 .2rem;
  }
}
