
.bg5{
  @extend %bg5;
  text-align: center;
  background-size:100% 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top:2.5rem;

  h2{
    color: #ffc63f;
    @include font-dpr(26px);
    margin-top:.7rem;
    margin-bottom: .2rem;
    span{
      @include font-dpr(35px);
    }
  }
  blockquote{
    display: flex!important;
    align-items:center;
    @extend %sub-logo2;
    @include font-dpr(22px);
    color:#66758c;
    box-sizing: border-box;
    //letter-spacing: -.014rem;
    line-height: 1.2;
    margin:0 auto;
    text-align: center;
    justify-content: center;
  }
}
.bg5-tab{
  display: inline-block!important;
  margin-right:-.23rem;
  text-align: center;
  @include font-dpr(22px);
  color:#ffdf93;
  font-weight: 600;
  font-style: italic;
  @extend %bg5-tab;
  line-height: .51rem;
  position: relative;
  z-index: 99;
  &.bg5-tab-on{
    color:#000;
    @extend %bg5-tab-hov
  }
}
.echart-pie{
  width: 95%;
  height: 5.76rem;
  margin:.3rem auto 0;
  background: url(../img/bg5-c.png) no-repeat center;
  background-size:4rem 3.99rem;
  background-position: center;
  position: relative;
  z-index: 10;
  .pie{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }
}
.tab-cont2{
  blockquote{
    height: 0.72rem;
    padding:0;
    @include font-dpr(22px);
    line-height: 0.72rem;
  }
  .echart-pie{
    background-image: url(../img/bg5-c2.png);
  }
}