
.bg7{
  @extend %bg7;
  text-align: center;
  background-size:100% 100%;
  box-sizing: border-box;
  padding-top: 3.3rem;
  .scroll-wrap{
    height: 7.14rem;
    margin-top:.6rem;
  }
}
.bg7-intro{
  width: 6.85rem;
  box-sizing: border-box;
  background: rgba(17, 18, 24, 0.65);
  border:.01rem solid rgba(70, 91, 185, 0.33);
  padding: .64rem .28rem;
  margin: 0 auto .43rem;
  @include font-dpr(28px);
  line-height:1.2;
  color:#8593aa;

}
.bg7-btn{
  display: block;
  margin: 0 auto .35rem;
  background: #ffc63f;
  color: #000;
  width: 4.4rem;
  height: .68rem;
  line-height: .68rem;
  text-align: center;
  @include font-dpr(26px);
  font-weight: 600;
}
.bg7-sub-page{
  @extend %bg7;
  background-size:100% 100%;
  box-sizing: border-box;
  padding-top: 2.08rem;
  h2{
    color: #ffc63f;
    @include font-dpr(35px);
    text-align: center;
    line-height: 1.2;
    strong{
      font-weight: 600;
    }
  }
  img{
    display: block;
    max-width:90%;
    margin: 0 auto;
  }
}
.qa{
  width: 6.85rem;
  background: rgba(17, 18, 24, 0.65);
  border:.01rem solid rgba(70, 91, 185, 0.33);
  padding: .5rem .28rem;
  @include font-dpr(18px);
  line-height:1.2;
  color:#8593aa;
  text-align: left;
  margin: 0 auto .6rem;
  p{
    margin-bottom:.4rem;
  }
  p:last-child{
    margin-bottom:0;
  }
  strong{
    color: #ffc63f;
    font-weight: 600;
  }
}
dl{
  text-align: center;
  margin-top:.75rem;
}
dt,dd{
  display: inline-block;
  height: .44rem;
}
dt{
  color: #8593aa;
  line-height: .44rem;
  @include font-dpr(25px);
  padding-right:.18rem;
}
dd{
  input{
    background: rgba(17, 18, 24, 0.65);
    border:.01rem solid rgba(70, 91, 185, 0.33);
    @include font-dpr(18px);
    color:#8593aa;
    height: .44rem;
    line-height: .44rem;
    text-align: center  ;
    &:focus{
      outline: 0;
    }
  }
}
.sub-btn{
  display: block;
  width: 1.76rem;
  height: .44rem;
  line-height: .44rem;
  text-align: center;
  background: #ffc63f;
  color: #000;
  @include font-dpr(26px);
  margin: .18rem auto 0;
}