<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content=["0">
    <title> </title>
    <meta name="description" content="">
    <meta name="front-end" content="MrF">
    <!--[if lt IE 9]>
    <script src="assets/responsive.min.js?t=1504499975626"></script>
    <![endif]-->
    <link rel="stylesheet" href="./css/main.css?t=1504499975626">
</head>

<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide bg bg1">
            <div class="main">
                <div class="logo ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay=".5s">UC News</div>
                <div class="sub-logo ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s">Data comes from UC News</div>
                <div class="bg1-logo ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s"></div>
                <div class="bg1-title ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s">July 4st Week  Report<br><span>01 July ~ 07 July</span></div>
                <div class="circle-wrap">
                    <div class="circle c1 ani"></div>
                    <div class="circle c2 ani"></div>
                    <div class="circle c3 ani"></div>
                    <div class="ani line1"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.2s"></div>
                    <div class="ani line2" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.4s"></div>
                    <div class="circle-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.6s"></div>
                    <p class="actor-name ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s">Neha Kakkar</p>
                    <img src="" alt="" class="actor-img ani" swiper-animate-effect="bounceIn2" swiper-animate-duration="0.5s" swiper-animate-delay="3s">
                </div>
                <div class="share"></div>
                <div class="slide"></div>

            </div>
        </div>
        <div class="swiper-slide bg bg3">
            <div class="main">
            <div class="logo ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay=".5s">UC News</div>
            <div class="bg3-logo ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s"></div>
            <div class="share"></div>
            <div class="slide"></div>
            <div id="graph"></div>
            <div class="history ani"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s">
                <h2><a class="sub-btn">more</a>Check history</h2>
                <div class="line">
                    <div class="line-cur"></div>
                </div>
                <section class="bg3-col">
                    <h2><span>05 August</span>11 August 2017</h2>
                    <div class="bg3-c2">
                        <div class="circle1">Young</div>
                        <div class="circle2">Beauty</div>
                        <div class="circle3">Humorous</div>
                        <div class="circle4">Cute</div>
                        <div class="circle5">White</div>
                    </div>
                </section>
                <section class="bg3-col">
                    <h2><span>05 August</span>11 August 2017</h2>
                    <div class="bg3-c2">
                        <div class="circle1">Young</div>
                        <div class="circle2">Beauty</div>
                        <div class="circle3">Humorous</div>
                        <div class="circle4">Cute</div>
                        <div class="circle5">White</div>
                    </div>
                </section>
            </div>
        </div>
            <div class="bg3-sub-page sub-page">
                <div class="main">
                    <a class="back"></a>
                    <div class="logo">UC News</div>
                    <div class="bg3-logo2"></div>
                    <section class="bg3-col">
                        <h2><span>14 August</span>20 August 2017</h2>
                        <div class="bg3-c2">
                            <div class="circle1">Young</div>
                            <div class="circle2">Beauty</div>
                            <div class="circle3">Humorous</div>
                            <div class="circle4">Cute</div>
                            <div class="circle5">White</div>
                        </div>
                    </section>
                    <section class="bg3-col">
                        <h2><span>07 August</span>13 August 2017</h2>
                        <div class="bg3-c2">
                            <div class="circle1">Young</div>
                            <div class="circle2">Beauty</div>
                            <div class="circle3">Humorous</div>
                            <div class="circle4">Cute</div>
                            <div class="circle5">White</div>
                        </div>
                    </section>
                    <section class="bg3-col">
                        <h2><span>31 August</span>06 August 2017</h2>
                        <div class="bg3-c2">
                            <div class="circle1">Young</div>
                            <div class="circle2">Beauty</div>
                            <div class="circle3">Humorous</div>
                            <div class="circle4">Cute</div>
                            <div class="circle5">White</div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
        <div class="swiper-slide bg bg4"><div class="main">
            <div class="logo ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay=".5s">UC News</div>
            <div class="chart-pie chart-pie1 ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
                <h2 class="chart-pie-title">Article</h2>
                <blockquote>Total articles : 123456123456</blockquote>
                <p><span>You are one of the most liked stars</span> being
                    mentioned everywhere this week.</p>
                <div class="chart-pie-wrap"><div id="pie1" class="pie"></div></div>
            </div>
            <div class="chart-pie chart-pie2 ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">
                <h2 class="chart-pie-title"></h2>
                <blockquote>Total articles : 123456123456</blockquote>
                <p><span>You are one of the most liked stars</span> being
                    mentioned everywhere this week.</p>
                <div class="chart-pie-wrap"><div id="pie2" class="pie"></div></div>
            </div>
            <div class="share"></div>
            <div class="slide"></div>
        </div></div>
        <div class="swiper-slide bg bg7">
            <div class="main">
            <div class="logo ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay=".5s">UC News</div>
            <div class="bg7-logo ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay=".6s"></div>
            <div class="share"></div>
            <div class="slide"></div>
            <div class="bg7-col-wrap u-clearfix">
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.8s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.8s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.2s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.4s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.6s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="3s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="3.2s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
                <div class="bg7-col ani"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="3.4s">
                    <div class="zan"><i></i>666</div>
                    <h4>David</h4>
                    <p>To get more positive and hot topics , and to get higher position in ranking list </p>
                </div>
            </div>
        </div>
        </div>
        <div class="swiper-slide bg bg8">
            <div class="main">
            <div class="logo ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay=".5s">UC News</div>
            <div class="bg8-intro ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay=".8s">
                Thank you for reading this report.<br>
                To get more fans and popularity , you are recommened to take part in the campaign which is exclusive for you.
            </div>
            <a class="bg8-btn btn ani sub-btn" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1s">Click to  book the {Q&A GAME}</a>
            <a class="bg8-btn btn share-btn ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s">Share</a>
            <a class="share"></a>
        </div>
            <div class="bg8-sub-page sub-page">
                <div class="main">
                    <a class="back"></a>
                    <div class="logo">UC News</div>
                    <h2>Q&A game</h2>
                    <dl>
                        <dt>Time</dt>
                        <dd><input type="text"></dd>
                    </dl>
                    <a class="btn bg8-sub-btn">Submit</a>
                    <div class="bg8-sub-wrap u-clearfix">
                        <img src="img/qaimg.png?t=1504084639647">
                        <div class="qa">
                            <p><strong>Q&A game</strong> : is an amazing opportunity for the star to be in news and get great reviews with UC NEWS. This ensures high rankings in all popularity charts.</p>

                            <p><strong>How to play</strong> : After purchasing the activity, the star just needs to spend an hour on the Q&A game on that day by answering some interesting questions asked by the fans.</p>

                            <p>When you take part in this activity, you will see that high rankings in all popularity charts await you!</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="./js/base.min.js?t=1504499975626"></script>
<script>

    var graph_data = {
        series: [{
            type: 'graph',
            layout: 'force',
            animation: true,
            animationEasing:'cubicln',
            animationDurationUpdate: function (idx) {
                // 越往后的数据延迟越大
                return idx * 100;
            },
            draggable:true,
            data: [
                {
                    name: 'Long Leg',
                    symbolSize: 238,
                    itemStyle: {
                        normal: {
                            color: '#ffc63f'
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#060a10',
                            fontSize:46,
                            fontWeight:600
                        }
                    }
                },
                {
                    name: 'Cute',
                    symbolSize: 175,
                    itemStyle: {
                        normal: {
                            color: '#06080d',
                            borderColor:'#ffc63f',
                            borderWidth:1
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#f0cc01',
                            fontSize:35
                        }
                    }
                },
                {
                    name: 'Young',
                    symbolSize: 164,
                    itemStyle: {
                        normal: {
                            color: '#06080d',
                            borderColor:'#ffc63f',
                            borderWidth:1
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#f0cc01',
                            fontSize:35
                        }
                    }
                },
                {
                    name: 'Beauty',

                    symbolSize: 128,
                    itemStyle: {
                        normal: {
                            color: '#06080d',
                            borderColor:'#ffc63f',
                            borderWidth:1
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#f0cc01',
                            fontSize:20
                        }
                    }
                },
                {
                    name: 'Good at cooking',
                    symbolSize: 142,
                    itemStyle: {
                        normal: {
                            color: '#06080d',
                            borderColor:'#9f8909',
                            borderWidth:1
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#b79c04',
                            fontSize:22
                        }
                    }
                },
                {
                    name: 'White',
                    symbolSize: 68,
                    itemStyle: {
                        normal: {
                            color: '#06080d',
                            borderColor:'#9f8909',
                            borderWidth:1,
                            opacity:.65
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#b79c04',
                            fontSize:14
                        }
                    }
                },
                {
                    name: 'Rich',
                    symbolSize: 80,
                    itemStyle: {
                        normal: {
                            color: '#06080d',
                            borderColor:'#9f8909',
                            borderWidth:1,
                            opacity:.65
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#b79c04',
                            fontSize:14
                        }
                    }
                }
                ,
                {
                    name: 'Kind',
                    symbolSize: 57,
                    itemStyle: {
                        normal: {
                            color: '#06080d',
                            borderColor:'#9f8909',
                            borderWidth:1,
                            opacity:.65
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#b79c04',
                            fontSize:14
                        }
                    }
                },
                {
                    name: 'Humorous',
                    symbolSize: 96,
                    itemStyle: {
                        normal: {
                            color: '#06080d',
                            borderColor:'#9e8704',
                            borderWidth:1,
                            opacity:.65
                        }
                    },
                    label:{
                        normal:{
                            show:true,
                            color:'#9e8805',
                            fontSize:16
                        }
                    }
                }
            ],
            links:[
                {
                    source: 'Cute',
                    target: 'Long Leg'
                },
                {
                    source: 'Young',
                    target: 'Long Leg'
                },
                {
                    source: 'Young',
                    target: 'Humorous'
                },
                {
                    source: 'Young',
                    target: 'Beauty'
                },
                {
                    source: 'Beauty',
                    target: 'Long Leg'
                },
                {
                    source: 'Good at cooking',
                    target: 'Beauty'
                },
                {
                    source: 'Good at cooking',
                    target: 'Long Leg'
                },
                {
                    source: 'Good at cooking',
                    target: 'White'
                }
                ,
                {
                    source: 'Rich',
                    target: 'White'
                }
                ,
                {
                    source: 'Rich',
                    target: 'Long Leg'
                }
                ,
                {
                    source: 'Kind',
                    target: 'Long Leg'
                }
                ,
                {
                    source: 'Kind',
                    target: 'Cute'
                }
                ,
                {
                    source: 'Kind',
                    target: 'Humorous'
                }
                ,
                {
                    source: 'Kind',
                    target: 'White'
                }
                ,
                {
                    source: 'Humorous',
                    target: 'Long Leg'
                }
                ,
                {
                    source: 'Humorous',
                    target: 'Cute'
                }
                ,
                {
                    source: 'White',
                    target: 'Long Leg'
                },
                {
                    source: 'Cute',
                    target: 'Young'
                }
            ],
            lineStyle:{
                normal:{
                    color:'#e6c301',
                    width:1
                }
            },
            force: {
                initLayout: 'circular',
                edgeLength: [240, 260],
                repulsion: 300,
                gravity: 0.1
            }
        }]
    }
    var line_data = [20000, 30000, 40000, 35000, 25000, 40000, 36000];
    var line_data2 = [25000, 30000, 40000, 35000, 25000, 40000, 36000];
    var line_data3 = [26000, 30000, 40000, 35000, 25000, 40000, 36000];
    var pie1_data = [
        {value:104567, name:'UC News'},
        {value:131433, name:'other platform'}
    ]
    var pie2_data = [
        {value:2527860, name:'UC campaign'},
        {value:40987630, name:'we-media'},
        {value:46583310, name:'other platform'}
    ]
</script>
    <script src="./js/main.js?t=1504499975626"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49529907-5', 'auto');
    ga('send', 'pageview');

</script>
</body>

</html>
