// -----------------------------------------------
%back {
	width: 0.43rem;
	height: 0.43rem;
	background-image: url('../img/back.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%back.png {
	width: 0.43rem;
	height: 0.43rem;
	background-image: url('../img/back.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1-logo-bg {
	width: 7.2rem;
	height: 2.99rem;
	background-image: url('../img/bg1-logo-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg1-logo-bg.png {
	width: 7.2rem;
	height: 2.99rem;
	background-image: url('../img/bg1-logo-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1-logo {
	width: 4.21rem;
	height: 0.62rem;
	background-image: url('../img/bg1-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg1-logo.png {
	width: 4.21rem;
	height: 0.62rem;
	background-image: url('../img/bg1-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1 {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg1.jpg {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-btn1-hov {
	width: 3.44rem;
	height: 2.33rem;
	background-image: url('../img/bg3-btn1-hov.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3-btn1-hov.png {
	width: 3.44rem;
	height: 2.33rem;
	background-image: url('../img/bg3-btn1-hov.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg2-logo {
	width: 4.44rem;
	height: 1.52rem;
	background-image: url('../img/bg2-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg2-logo.png {
	width: 4.44rem;
	height: 1.52rem;
	background-image: url('../img/bg2-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-btn1 {
	width: 1.99rem;
	height: 0.51rem;
	background-image: url('../img/bg3-btn1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3-btn1.png {
	width: 1.99rem;
	height: 0.51rem;
	background-image: url('../img/bg3-btn1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-btn2-hov {
	width: 2.01rem;
	height: 2.27rem;
	background-image: url('../img/bg3-btn2-hov.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3-btn2-hov.png {
	width: 2.01rem;
	height: 2.27rem;
	background-image: url('../img/bg3-btn2-hov.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-btn2 {
	width: 1.99rem;
	height: 0.51rem;
	background-image: url('../img/bg3-btn2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3-btn2.png {
	width: 1.99rem;
	height: 0.51rem;
	background-image: url('../img/bg3-btn2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-btn3-hov {
	width: 2.85rem;
	height: 2.03rem;
	background-image: url('../img/bg3-btn3-hov.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3-btn3-hov.png {
	width: 2.85rem;
	height: 2.03rem;
	background-image: url('../img/bg3-btn3-hov.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-btn3 {
	width: 2.02rem;
	height: 0.51rem;
	background-image: url('../img/bg3-btn3.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3-btn3.png {
	width: 2.02rem;
	height: 0.51rem;
	background-image: url('../img/bg3-btn3.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-logo {
	width: 5.56rem;
	height: 1.23rem;
	background-image: url('../img/bg3-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3-logo.png {
	width: 5.56rem;
	height: 1.23rem;
	background-image: url('../img/bg3-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3 {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3.jpg {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3-up {
	width: 0.13rem;
	height: 0.15rem;
	background-image: url('../img/bg3-up.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3-up.png {
	width: 0.13rem;
	height: 0.15rem;
	background-image: url('../img/bg3-up.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-icon1 {
	width: 1.16rem;
	height: 0.83rem;
	background-image: url('../img/bg4-icon1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-icon1.png {
	width: 1.16rem;
	height: 0.83rem;
	background-image: url('../img/bg4-icon1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-line1 {
	width: 0.52rem;
	height: 0.98rem;
	background-image: url('../img/bg4-line1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-line1.png {
	width: 0.52rem;
	height: 0.98rem;
	background-image: url('../img/bg4-line1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-line2 {
	width: 1.15rem;
	height: 0.9rem;
	background-image: url('../img/bg4-line2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-line2.png {
	width: 1.15rem;
	height: 0.9rem;
	background-image: url('../img/bg4-line2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-line3 {
	width: 1.21rem;
	height: 0.94rem;
	background-image: url('../img/bg4-line3.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-line3.png {
	width: 1.21rem;
	height: 0.94rem;
	background-image: url('../img/bg4-line3.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-line4 {
	width: 1.21rem;
	height: 0.94rem;
	background-image: url('../img/bg4-line4.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-line4.png {
	width: 1.21rem;
	height: 0.94rem;
	background-image: url('../img/bg4-line4.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-line5 {
	width: 4.29rem;
	height: 2.59rem;
	background-image: url('../img/bg4-line5.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-line5.png {
	width: 4.29rem;
	height: 2.59rem;
	background-image: url('../img/bg4-line5.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-line6 {
	width: 0.97rem;
	height: 1.23rem;
	background-image: url('../img/bg4-line6.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-line6.png {
	width: 0.97rem;
	height: 1.23rem;
	background-image: url('../img/bg4-line6.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4-logo {
	width: 5.45rem;
	height: 1.16rem;
	background-image: url('../img/bg4-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4-logo.png {
	width: 5.45rem;
	height: 1.16rem;
	background-image: url('../img/bg4-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4 {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4.jpg {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-c {
	width: 4rem;
	height: 3.99rem;
	background-image: url('../img/bg5-c.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg5-c.png {
	width: 4rem;
	height: 3.99rem;
	background-image: url('../img/bg5-c.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-c2 {
	width: 4rem;
	height: 3.99rem;
	background-image: url('../img/bg5-c2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg5-c2.png {
	width: 4rem;
	height: 3.99rem;
	background-image: url('../img/bg5-c2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-tab-hov {
	width: 2.79rem;
	height: 0.51rem;
	background-image: url('../img/bg5-tab-hov.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg5-tab-hov.png {
	width: 2.79rem;
	height: 0.51rem;
	background-image: url('../img/bg5-tab-hov.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5-tab {
	width: 2.79rem;
	height: 0.51rem;
	background-image: url('../img/bg5-tab.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg5-tab.png {
	width: 2.79rem;
	height: 0.51rem;
	background-image: url('../img/bg5-tab.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg5 {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg5.jpg {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6-logo {
	width: 6.21rem;
	height: 0.61rem;
	background-image: url('../img/bg6-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg6-logo.png {
	width: 6.21rem;
	height: 0.61rem;
	background-image: url('../img/bg6-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg6 {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg6.jpg {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg7 {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg7.jpg {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/bg7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%c-name {
	width: 0.62rem;
	height: 0.79rem;
	background-image: url('../img/c-name.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%c-name.png {
	width: 0.62rem;
	height: 0.79rem;
	background-image: url('../img/c-name.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%c1 {
	width: 2.66rem;
	height: 2.66rem;
	background-image: url('../img/c1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%c1.png {
	width: 2.66rem;
	height: 2.66rem;
	background-image: url('../img/c1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%c2 {
	width: 3.07rem;
	height: 3.05rem;
	background-image: url('../img/c2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%c2.png {
	width: 3.07rem;
	height: 3.05rem;
	background-image: url('../img/c2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%c3 {
	width: 3.73rem;
	height: 3.73rem;
	background-image: url('../img/c3.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%c3.png {
	width: 3.73rem;
	height: 3.73rem;
	background-image: url('../img/c3.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%down {
	width: 0.2rem;
	height: 0.25rem;
	background-image: url('../img/down.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%down.png {
	width: 0.2rem;
	height: 0.25rem;
	background-image: url('../img/down.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%footer {
	width: 7.2rem;
	height: 5.92rem;
	background-image: url('../img/footer.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%footer.jpg {
	width: 7.2rem;
	height: 5.92rem;
	background-image: url('../img/footer.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%line1 {
	width: 2.15rem;
	height: 2.32rem;
	background-image: url('../img/line1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%line1.png {
	width: 2.15rem;
	height: 2.32rem;
	background-image: url('../img/line1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%line2 {
	width: 2.25rem;
	height: 2.32rem;
	background-image: url('../img/line2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%line2.png {
	width: 2.25rem;
	height: 2.32rem;
	background-image: url('../img/line2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%loading-line {
	width: 7.2rem;
	height: 1.85rem;
	background-image: url('../img/loading-line.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%loading-line.png {
	width: 7.2rem;
	height: 1.85rem;
	background-image: url('../img/loading-line.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%loading {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/loading.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%loading.jpg {
	width: 7.2rem;
	height: 12.8rem;
	background-image: url('../img/loading.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%ques {
	width: 0.43rem;
	height: 0.43rem;
	background-image: url('../img/ques.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%ques.png {
	width: 0.43rem;
	height: 0.43rem;
	background-image: url('../img/ques.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%logo {
	width: 2.68rem;
	height: 0.88rem;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%logo.png {
	width: 2.68rem;
	height: 0.88rem;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%share {
	width: 0.43rem;
	height: 0.43rem;
	background-image: url('../img/share.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%share.png {
	width: 0.43rem;
	height: 0.43rem;
	background-image: url('../img/share.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%slide {
	width: 0.88rem;
	height: 0.49rem;
	background-image: url('../img/slide.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%slide.png {
	width: 0.88rem;
	height: 0.49rem;
	background-image: url('../img/slide.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%slide2 {
	width: 0.96rem;
	height: 0.78rem;
	background-image: url('../img/slide2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%slide2.png {
	width: 0.96rem;
	height: 0.78rem;
	background-image: url('../img/slide2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sub-logo {
	width: 2.68rem;
	height: 0.3rem;
	background-image: url('../img/sub-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%sub-logo.png {
	width: 2.68rem;
	height: 0.3rem;
	background-image: url('../img/sub-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sub-title {
	width: 4.04rem;
	height: 0.92rem;
	background-image: url('../img/sub-title.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%sub-title.png {
	width: 4.04rem;
	height: 0.92rem;
	background-image: url('../img/sub-title.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sub-logo2 {
	width: 3.84rem;
	height: 0.72rem;
	background-image: url('../img/sub-logo2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%sub-logo2.png {
	width: 3.84rem;
	height: 0.72rem;
	background-image: url('../img/sub-logo2.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%zan {
	width: 0.22rem;
	height: 0.21rem;
	background-image: url('../img/zan.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%zan.png {
	width: 0.22rem;
	height: 0.21rem;
	background-image: url('../img/zan.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
