@charset "UTF-8";

@import "base/base";
@import "img";

@import "lib/animate.min";
@import "lib/swiper-3.4.2.min";
body {
    font: $b-font-weight #{$b-font-size}/#{$b-line-height} $b-font-family;
    color: $c-text;
    a {
        text-decoration: none;
        color: nth($c-link, 1);
        &:hover {
            text-decoration: underline;
            color: nth($c-link, 2);
        }
    }
}
html,body{
    height:100%;
    background: #07090e;
}
.hide{
    display: none;
}
//字体要用px，不能用rem
@mixin font-dpr($font-size){
    font-size: $font-size/2;

    [data-dpr="2"] & {
        font-size: $font-size/2 * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size/2 * 3;
    }
}
@import "slide/bg1";
@import "slide/bg2";
@import "slide/bg3";
@import "slide/bg4";
@import "slide/bg5";
@import "slide/bg6";
@import "slide/bg7";
.loading{
    @extend %loading;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-position: center;
    left:0;
    top:0;
}
#loading-line{
    width: 100%;
    height: 1.88rem;
    position: absolute;
    top:5.24rem;
    left:0;
}
#loading-num{
    color: #ffc63f;
    @include font-dpr(30px);
    text-align: center;
    position: relative;
    top:4.7rem;
}
.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
   z-index: 100;
}
.swiper-wrapper{
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}
.swiper-slide{
    width:100%!important;
    height:100%!important;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}
.logo{
    @extend %logo;
    position: absolute;
    left:50%;
    top:.88rem;
    transform: translate(-50%,0);
    text-indent:-999em;
    z-index: 99;
}
.slide{
    @extend %slide;
    position: absolute;
    left:50%;
    bottom:.5rem;
    transform: translate3d(-50%,0,0);
    text-indent:-999em;
    animation: slide-down 1s infinite linear;
}
.slide2{
    @extend %slide2;
    position: absolute;
    left:50%;
    bottom:.5rem;
    transform: translate3d(-50%,0,0);
    text-indent:-999em;
    animation: slide-down 1s infinite linear;
}
@keyframes slide-down {
    0%{transform: translate3d(-50%,0,0);}
    50%{transform: translate3d(-50%,.1rem,0);}
    100%{transform: translate3d(-50%,0,0);}
}

.sub-page{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: 100% 100%;
    z-index: 100;
    transform:translate3d(100%,0,0);
    transition: all .5s;
    &.sub-page-on{
        transform:translate3d(0,0,0);
    }
}
.back{
    @extend %back;
    position: absolute;
    z-index: 99;
    left:.3rem;
    top:.23rem
}
.share{
    @extend %share;
    position: absolute;
    right:.35rem;
    top:.20rem;
    z-index: 999;
}