.bg1{
  @extend %bg1;
  background-size:100% 100%;
}
.sub-logo{
  @extend %txt-wrap;
  position: absolute;
  left:50%;
  margin-left:-130px;
  top:17%;
  text-align: center;
  line-height: 30px;
  color: #66758c;
  font-size: 16px;
  z-index: 99;
}
.bg1-logo{
  @extend %bg1-logo;
  position: absolute;
  top:50%;
  left:50%;
  margin-left:25px;
  margin-top:-32px;
}
.circle{
  position: absolute;
  transform-origin:50% 50%;
}
.c1{
  @extend %c1;
  z-index: 99;
  top:65px;
  left:66px;
  animation: fadeIn .5s 2.2s 1 linear backwards,rotate 4s 2.5s linear infinite;
}
.c2{
  @extend %c2;
  top:44px;
  left:44px;
  z-index: 80;
  animation: fadeIn .5s 2.4s 1 linear backwards,rotate2 3s 2.7s linear infinite;
}
.c3{
  @extend %c3;
  top:0;
  left:0;
  z-index: 70;
  animation: fadeIn .5s 2.6s 1 linear backwards,rotate 3.5s 2.9s linear infinite;
}
.circle-wrap{
  width: 443px;
  height: 443px;
  margin-left: -523px;
  margin-top: -174px;
  position: absolute;
  left:50%;
  top:50%;
}

@keyframes rotate {
  0%{transform: rotate(0deg) }
  100%{transform: rotate(360deg) }
}
@-webkit-keyframes rotate {
  0%{transform: rotate(0deg) }
  100%{transform: rotate(360deg) }
}
@keyframes rotate2 {
  0%{transform: rotate(0deg) }
  100%{transform: rotate(-360deg) }
}
@-webkit-keyframes rotate2 {
  0%{transform: rotate(0deg) }
  100%{transform: rotate(-360deg) }
}
.line1{
  @extend %bg1-line1;
  position: absolute;
  right:-84px;
  top:-100px;
  transform-origin:0% 0%;
  z-index: 70;
}
.line2{
  @extend %bg1-line2;
  position: absolute;
  left:-58px;
  bottom:-65px;
  transform-origin:0% 0%;
  z-index: 70;
}
.actor-img{
  display: block;
  width: 316px;
  height: 316px;
  border-radius:100%;
  position: absolute;
  top:65px;
  left:66px;
  z-index: 100;
}
.circle-line{
  @extend %bg1-name;
  position: absolute;
  bottom:-46px;
  left:50%;
  margin-left:-31px;
}
.actor-name{
    width: 100%;
    text-align: center;
    color:#ffc63f;
    font-size:23px;
    position: absolute;
    bottom:-74px;
}
.bg1-title{
  @extend %txt-wrap2;

  line-height:1.1;
  box-sizing: border-box;
  padding-top:12px;
  color: #798ead;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top:50%;
  margin-top: 67px;
  left: 50%;
  margin-left: 25px;
  background-size: cover;
  span{
    color:#798ead;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1440px) {
  .sub-logo{
    top:18%;
  }
}