
.bg2{
  @extend %bg2;
  background-size:100% 100%;
  text-align: center;
  table{
    width: 430px;
    position: absolute;
    @include toppercent(348);
    left:50%;
    margin-left:-442px;
    border-bottom:2px solid #161d34;
  }
  .cur{
    td{
      color: #ffc63f;
    }
  }
  th{
    font-size: 20px;
    font-weight: 600;
    color: #8593aa;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }
  td{
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #8593aa;
    font-size: 18px;
    border-top:2px solid #161d34;
  }
  p{
    color: #8593aa;
    font-size: 18px;
    position: absolute;
    left:50%;
    @include toppercent(646);
    span{
      color: #ffc63f;
      font-size: 23px;
      font-weight: 600;
    }
  }
  .intro{
    @include toppercent(722);
  }
  .btn{
    position: absolute;
    top:80%;
    left:50%;
    margin-left:-200px;
  }
}

.bg2-logo{
  @extend %bg2-logo;
  position: absolute;
  left:50%;
  @include toppercent(223);
  margin-left:-241px;
  z-index: 99;
  text-indent:-999em;
}
#tagcloud{
  display: block;
  overflow: hidden;
  width: 416px;
  height: 262px;
  position: absolute;
  left:50%;
  margin-left:52px;
  @include toppercent(334);
}
.bg2-t1{
  margin-left: -432px;
}
.bg2-t2{
  margin-left:60px;
}


@media only screen and (max-width: 1440px) {
  .bg2{
    .intro{
      font-size:14px;
    }
    td,th{
      height: 30px;
      line-height: 30px;
    }
    p{
      font-size: 14px;
      span{
        font-size:16px;
      }
    }
  }
}

