
.bg4{
  @extend %bg4;
  background-size:100% 100%;
}
.chart-pie{
  width: 50%;
  position: absolute;
  @include toppercent(230);
  blockquote{
    @extend %txt-wrap3;
    margin:  0 auto 20px;
    text-align: center;
    font-size: 20px;
    color: #92a6c4;
    line-height: 49px;
  }
  p{
    width: 348px;
    line-height: 30px;
    font-size: 16px;
    color: #92a6c4;
    margin: 0 auto;
    span{
      font-size: 20px;
    }
  }
  .chart-pie-wrap{
    margin: 54px auto 0;
    position: relative;
    width: 500px!important;
    background-position: center 0;
    .pie{
      width: 403px;
      height: 100%;
      margin: 0 auto;
    }
  }
}
.chart-pie-title{
  text-indent:-999em;
  margin: 0 auto 28px;
}
.chart-pie1{
  left:0;
  .chart-pie-title{
    @extend %bg4-logo1;
  }
  p span{
    color: #ffc63f;
  }
  .chart-pie-wrap{
    @extend %circle1;
  }
}
.in .chart-pie1{
  .chart-pie-title{
    @extend %slice-ind-bg4-logo1.png
  }
}
.chart-pie2{
  right:0;
  .chart-pie-title{
    @extend %bg4-logo2;
    margin-bottom:14px;
  }
  p span{
    color: #489aee;
  }
  .chart-pie-wrap{
    @extend %circle2;
  }
}
.in .char-pie2{
  @extend %bg4-logo2-in;
}
@media only screen and (max-width: 1440px) {
  .bg4{
    .chart-pie .chart-pie-wrap{
      width: 380px!important;
      .pie{
        margin-left:-12px;
      }
    }
  }
  .chart-pie2 .chart-pie-title{
    width: 460px;
  }
}


@media only screen and (min-width: 1280px) {

}