
.bg5{
  @extend %bg5;
  background-size:100% 100%;
  .hide{
    display: none;
  }
  .logo{
    @include toppercent(60);
  }
}
.bg5-logo{
  @extend %bg5-logo;
  position: absolute;
  left:50%;
  margin-left:-580px;
  @include toppercent(220);
}
.echart-line{
  width: 625px;
  height:330px;
  float:left;
  margin-right:62px;
}
.bg5-tab-con{
  width: 100%;
  position: absolute;
  height: 390px;
  @include toppercent(352);
  left:0;
  blockquote{
    display: inline-block;
    color: #8593aa;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    width: 418px;
    background: rgba(0, 0, 0, 0.25);
    border:1px solid #1b2432;
    margin-top:20px;
    text-align: center;
  }
}
.bg5-chart-intro{
  padding-top:77px;
  em{
    box-sizing: border-box;
    display: inline-block;
    @extend %txt-wrap4;
    color: #92a6c4;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding-top:12px;
  }
  i{
    display: inline-block;
    @extend %up2;
    margin: 0 38px;
  }
}
.bg5-btn{
  display: block;
  position: absolute;
  @include toppercent(771);
  left:50%;
  z-index: 99;
}
.bg5-btn1{
  @extend %bg5-btn1;
  margin-left:-376px;
}
.bg5-btn2{
  @extend %bg5-btn2;
  margin-left:-100px;
}
.bg5-btn3{
  @extend %bg5-btn3;
  margin-left:176px;
}
.bg5-btn-cur{
  z-index: 80;
  &.bg5-btn1{
    @extend %bg5-btn1_hover;
  }
  &.bg5-btn2{
    @extend %bg5-btn2_hover;
  }
  &.bg5-btn3{
    @extend %bg5-btn3_hover;
    margin-left:-112px;
  }
}
.bg5-sub-page{
  @extend .bg5;
  background-size: 100% 100%;
  text-align: center;
  .main{
    box-sizing: border-box;
    padding-top:232px;
  }
  h2{
    color: #ffc63f;
    font-size: 40px;
    font-weight: 600;
    margin-bottom:20px;
  }
  blockquote{
    color: #727f94;
    font-size: 23px;
    margin-bottom:52px
  }
}
.bg5-col{
  width: 1000px;
  box-sizing: border-box;
  background: rgba(17, 18, 24, 0.65);
  border:.01rem solid rgba(70, 91, 185, 0.33);
  padding: 36px 28px;
  margin: 0 auto 20px;
  text-align: left;
  h4{
    color: #ffc63f;
    font-size:25px;
    margin-bottom:.10rem;
    line-height: 1;
  }
  p{
    color: #5a667a;
    font-size:18px;
    line-height: 26px;
  }
}
.ques{
  @extend %ques;
  position: absolute;
  position: absolute;
  left:0;
  top:22px;
}
@media only screen and (max-width: 1440px) {
  .bg5{
    .bg5-logo{
      width: 900px;
      margin-left:-450px;
    }
    .echart-line{
      width: 450px;
      height: 200px;
    }
    .bg5-chart-intro{
      padding-top:10px;
    }
  }
}


@media only screen and (min-width: 1280px) {

}