
.bg6{
  @extend %bg6;
  text-align: center;
  background-size:100% 100%;
}
.bg6-logo{
  @extend %bg6-logo;
  position: absolute;
  left:50%;
  margin-left:-542px;
  @include toppercent(220);
}
.bg6-icon{
  @extend %bg6-icon;
  position: absolute;
  top:327px;
  left:50%;
  margin-left:-64px;
}
.bg6-line{
  position: absolute;
  left:50%;
}
.bg6-line1{
  @extend %bg6-line1;
  top:420px;
  margin-left:-50px;
}
.bg6-line2{
  @extend %bg6-line2;
  top:507px;
  margin-left:-69px;
}
.bg6-line3{
  @extend %bg6-line3;
  top:583px;
  margin-left:-59px;
}
.bg6-line4{
  @extend %bg6-line4;
  top:657px;
  margin-left:-79px;
}
.bg6-line5{
  @extend %bg6-line5;
  top: 735px;
  margin-left: -447px;
}

.data-col{
  width: 255px;
  height: 65px;
  background: #1b2330;
  line-height: 65px;
  color: #8593aa;
  position: absolute;
  font-size:20px;
  text-align: center;
  left:50%;
  margin-left:-127.5px;
  span{
    display: inline-block;
  }
  .data2{
    margin: 0 23px;
  }
  &.data-col-cur{
    background: #ffc63f;
    color: #070a0f;
  }
}
.data-col1{
top:486px;
  left:35%;
}
.data-col2{
  top:560px;
  left:65%;
}
.data-col3{
  top:626px;
  left:34%;
}
.data-col4{
  top:720px;
  left:64%;
}
.bg6-chart-intro{
  width: 660px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: #000;
  border:1px solid #1b2432;
  color: #fecc1a;
  font-size: 20px;
  position: absolute;
  left:50%;
  margin-left:-330px;
  top:850px;
  i{
    display: inline-block;
    @extend %down;
    margin: 0 40px;
  }
}

@media only screen and (max-width: 1440px) {
  .bg6 {
    .data-col{
      height: 40px;
      line-height: 40px;
    }
    .bg6-logo{
      width: 900px;
      margin-left:-450px;
    }
    .data-col1{
      top:486-130px;
    }
    .data-col2{
      top:560-130px;;
    }
    .data-col3{
      top:626-130px;
    }
    .data-col4{
      top:720-130px;
    }
  }

  .bg6-icon{
    top:327-130px;
  }
  .bg6-line1{
    top:420-130px;
  }
  .bg6-line2{
    top:507-130px;
  }
  .bg6-line3{
    top:583-130px;
  }
  .bg6-line4{
    top:657-130px;
  }
  .bg6-line5{
    top: 735-130px;
  }
  .bg6-chart-intro{
    top:auto;
    bottom:3%;
    height: 40px;
    line-height: 40px;
  }
}


@media only screen and (min-width: 1280px) {

}